<%- include('./partials/navbar') %>

    <div class="container mt-3">
        <div class="container-main card p-5 text-center shadow-lg rounded-5">
            <h1 class="text-title fw-bold">Descubra músicas parecidas</h1>
            <p class="text-subtitle">
                Encontre novos artistas e músicas parecidos com o que você já conhece.
            </p>
        </div>
    </div>
    </main>

    <body>
        <section class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-6 text-center p-2">
                    <img src="/images/vinil.png" class="vinil-img img-fluid" alt="Disco de vinil">
                </div>

                <div class="col-md-6 about-info">
                    <h2 class="about-title text-end">Sobre o SoundMatch</h2>
                    <p class="about-text text-end">
                        O SoundMatch ajuda usuários a descobrir novas músicas e artistas por meio da similaridade entre músicas ou artistas. :D
                    </p>
                    <p class="about-text text-end">
                        Utilizando as APIs da Last.fm e Deezer, o sistema recomenda músicas semelhantes e permite ouvir prévias diretamente na plataforma.
                    </p>
                </div>
            </div>
        </section>
    </body>

    </html>