<%- include('./partials/navbar') %>

    <div class="container mt-3">
        <div class="container-main card p-5 text-center shadow-lg rounded-5">

            <h1 class="text-title fw-bold">Descubra músicas parecidas</h1>

            <p class="text-subtitle">
                Encontre novos artistas e músicas parecidos com o que você já conhece.
            </p>
        </div>
    </div>
    </main>


    <body>
        <span>TESTEEE</span>
    </body>

    </html>